/* .Ad{
    height: 10vmin;
    margin: 3vmin 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: grey;
    color: white;
    font-size: 4vmin;
} */