.login{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.loginContainer{
    margin: 2vmin;
    /* margin: 5vmin 5vmin 5vmin 5vmin; */
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vmin;
    background-color: rgb(5, 75, 110);

}

.loginContainer h1{
    color: white;
    font-size: 5vmin;
    font-family: Outfit;
    letter-spacing: 0.2vmin;
    text-transform: uppercase;
    margin: 5vmin 3vmin 4vmin 3vmin;
    /* border: 1px solid white; */
    text-align: center;
}

.loginContainer form{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 2vmin; */
}

.emailLogin{
    width: 48vmin;
    margin: 2vmin 1.5vmin;
    padding: 1vmin;
    outline: none;
    font-family: Outfit;
    font-size: 3vmin;
    border-radius: 0.7vmin;
    /* border: 0.2vmin solid #1f2f98; */
}

.loginContainer form input::selection{
    background-color: yellow;
    color: black;
}

.logBtn{
    width: 15vmin;
    padding: 1vmin 2vmin;
    border-radius: 5vmin;
    margin: 2vmin 3vmin 4vmin 3vmin;
    font-size: 3vmin;
    font-family: Outfit;
    background-color: rgb(8, 208, 8);
    color: white ;
}

.logBtn:hover{
    background-color: lime;
    color: white ;
}

.loginOptions{
display: flex;
flex-direction: row;
}

.loginOptions p{
    /* width: 20vmin; */
    /* border: 1px solid white; */
    color: white;
    cursor: pointer;
    /* text-align: right; */
    /* padding: 2vmin 10vmin; */
    font-size: 3vmin;
    font-family: Outfit;
    margin: 2vmin 5vmin;
}

.forgot{
    width: 30vmin;
}

.signupLink{
    width: 20vmin;
    position: relative;
    left: 10%;
}

.loginOptions p:hover{
    text-decoration: underline;
}

.passContainerLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 48vmin;
    margin: 2vmin 1.5vmin;
}

.passLogin{
    width: 43vmin;
    padding: 1vmin;
    outline: none;
    font-family: Outfit;
    font-size: 3vmin;
    border-radius: 0.7vmin 0 0 0.7vmin;
}

.eyeLogin{
    width: 5vmin;
    text-align: center;
    background-color: white;
    color: grey;
    z-index: 2;
    padding: 1.5vmin 1vmin 0.5vmin 0;
    font-size: 3vmin;
    border-radius:0 0.7vmin 0.7vmin 0;
}

@media only screen and (max-width: 767px) {
    .authContainer{
       margin-top: 20;
    }
    .logo{
        display: none;
    }
    .registerContainer{
        width: 100%;
    }

    .signupLabel{
        width: 65vmin;
        font-size: 3vmin;
    }

    /* .form1 input{
        width: 18vmin;
    } */

    /* .registerContainer form input{
        font-size: 3.2vmin;
    } */
    .registerBtn{
        width: 20vmin;
        font-size: 3.2vmin;
        padding: 1.5vmin 2vmin;
    }
}
@media only screen and (min-width: 1024px) {
    .authContainer{
        width: 80vw;
    }

    .registerContainer{
        width: 45vw;
    }
    .logo{
        width: 35vw;
    }

    .logo img{
        width: 40%;
    }
   
}