@import url('https://fonts.googleapis.com/css2?family=Alice&family=Coiny&family=Cookie&family=Corben:wght@700&family=Fredoka+One&family=Happy+Monkey&family=Inter:wght@300;400;500;700;800;900&family=Lato:wght@300;400;700;900&family=Nunito:wght@300;400;500;600;700;800;900;1000&family=Open+Sans:wght@500;600;700;800&family=Outfit:wght@200;300;400&family=Pacifico&family=Poppins:wght@300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Sail&family=Varela+Round&display=swap');
*{
    margin: 0%;
    padding: 0%;
    border: none;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
  }

body{
    background-color: whitesmoke;
    display: grid;
    place-content: center ;
   
}
