.newPasswordPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newPasswordPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 95vmin;
    padding: 5vmin 5vmin 10vmin 5vmin;
    border-radius: 1vmin;
    font-family: Inter;
    overflow: hidden;
    position: relative;
}

.newPasswordPageContainer h1{
    text-align: center;
    margin-bottom: 3vmin;
   letter-spacing: 0.2vmin;
}

.newPasswordPageContainer p{
    font-size: 3vmin;
    color: grey;
    text-align: center;
}

.newPasswordPageContainer form{
    margin: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NewPasswordEmail{
    width:60vmin;
    margin: 2vmin 1.5vmin 1vmin 1.5vmin;
    padding: 1vmin;
    outline: none;
    font-family: Roboto;
    font-size: 3vmin;
    border-radius: 0.7vmin;
    border: 0.1vmin solid grey;

}


.passContainerNewPassword{
    width:60vmin;
    margin: 2vmin 1.5vmin 1vmin 1.5vmin;
    outline: none;
    font-family: Roboto;
    font-size: 3vmin;
    border-radius: 0.7vmin;
    border: 0.1vmin solid grey;
    display: flex;
    flex-direction: row;
}

.passNewPassword{
    width: 55vmin;
    padding: 1vmin;
    outline: none;
    font-family: Outfit;
    font-size: 3vmin;
    border-radius: 0.7vmin 0 0 0.7vmin;
}

.eyeNewPassword{
    width: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: grey;
    z-index: 2;
    font-size: 3vmin;
    border-radius:0 0.7vmin 0.7vmin 0;
    /* border: 1px solid yellow; */
}

.newPasswordPageContainer form button{
    background-color: rgb(13, 212, 86);
    color: white;
    width:60vmin;
    margin: 2vmin 1.5vmin 4vmin 1.5vmin;
    padding: 1vmin;
    font-family: Outfit;
    font-size: 3vmin;
    border-radius: 0.7vmin;
}

.newPasswordPageContainer form button:hover{
    background-color: rgb(13, 246, 71);
}

.newPasswordPageContainer div{
    margin: 1vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginLink2{
margin: 0 1vmin;
text-decoration: underline;
cursor: pointer;
}

.decoration{
    margin-top: 2vmin;
    height: 6%;
    width:100%;
    position: absolute;
    bottom: -1vmin;
    background: linear-gradient(50deg, #ff00d4, #00ddff, #00ff80 );
}

@media only screen and (max-width: 767px) {
    .newPasswordPageContainer p{
        font-size: 4vmin;
    }
    .NewPasswordEmail{
        width:80vmin;
        padding: 2.5vmin;
        font-size: 4vmin;   
    }
    
    
    .passContainerNewPassword{
        width:80vmin;    
        font-size: 4vmin;
    }
    
    .passNewPassword{
        width: 70vmin;
        padding: 2.5vmin;
        font-size: 4vmin;
    }
    
    .eyeNewPassword{
        width: 10vmin;
        font-size: 5vmin;
    }
    
    .newPasswordPageContainer form button{
        width:80vmin;
        padding: 2.5vmin;
        font-size: 4vmin;
    }

}